* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f9f9f9;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background: white;
  position: sticky;
  top: 0;
}

.logo {
  color: #1dbf73;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
}

.btn {
  background: #1dbf73;
  color: white;
  padding: 8px 15px;
  border-radius: 20px;
}

/* Hero */
.hero {
  height: 80vh;
  background: linear-gradient(to right, #1dbf73, #16a085);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  font-size: 48px;
}

.hero p {
  margin: 15px 0;
}

.cta {
  padding: 12px 25px;
  border: none;
  border-radius: 25px;
  background: white;
  color: #16a085;
  font-size: 16px;
  cursor: pointer;
}

/* Features */
.features {
  display: flex;
  justify-content: space-around;
  padding: 60px 20px;
}

.card {
  background: white;
  padding: 30px;
  width: 250px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* Devices */
.devices {
  text-align: center;
  padding: 60px;
  background: #ecfdf5;
}

/* Stats */
.stats {
  display: flex;
  justify-content: space-around;
  padding: 60px;
  background: white;
}

.stats h1 {
  font-size: 40px;
  color: #1dbf73;
}

footer {
  text-align: center;
  padding: 20px;
  background: #111;
  color: white;
}
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
